@import "src/styles/variables";

#members-container {
  display         : flex;
  justify-content : flex-start;
  align-items     : center;
  flex-direction  : column;
  overflow        : hidden;


  #members-list {
    width      : 100%;
    box-sizing : border-box;
    padding    : calc($global-spacing / 2) 0;

    .member-item {
      color           : $white;
      display         : flex;
      justify-content : space-between;
      align-items     : center;
      padding         : 0 $global-spacing;
      height          : $global-spacing*1.5;


      &-icon {
        width  : 40px;
        height : 40px;
      }

      &-info {
        display         : flex;
        justify-content : flex-start;
        align-items     : center;
        flex-direction  : column;
        margin-left     : $global-spacing;
        flex            : 1;

        &-name {
          font-size : 1.2rem;
          font-weight : 500;
        }
      }

      &:hover, &_active {
        background-color : rgba($color-primaryLight, 0.2);
        cursor           : pointer;
      }
    }
  }
}
