$backgroundImagePath : '/img/background/backgroundLogin.jpg';

@import "src/styles/variables";

html {
  background-color : $color-primaryDark;
}

// Bubble animation
.bubbles {
  position : absolute;
  width    : 100%;
  height   : 100%;
  z-index  : -1;
  overflow : hidden;
  top      : 0;
  left     : 0;
}

.bubble {
  position      : absolute;
  bottom        : -100px;
  width         : 40px;
  height        : 40px;
  background    : #f1f1f1;
  border-radius : 50%;
  opacity       : 0.5;
  animation     : rise 10s infinite ease-in;

  &:nth-child(1) {
    width              : 40px;
    height             : 40px;
    left               : 10%;
    animation-duration : 8s;
  }

  &:nth-child(2) {
    width              : 20px;
    height             : 20px;
    left               : 20%;
    animation-duration : 5s;
    animation-delay    : 1s;
  }

  &:nth-child(3) {
    width              : 50px;
    height             : 50px;
    left               : 35%;
    animation-duration : 7s;
    animation-delay    : 2s;
  }

  &:nth-child(4) {
    width              : 80px;
    height             : 80px;
    left               : 50%;
    animation-duration : 11s;
    animation-delay    : 0s;
  }

  &:nth-child(5) {
    width              : 35px;
    height             : 35px;
    left               : 55%;
    animation-duration : 6s;
    animation-delay    : 1s;
  }

  &:nth-child(6) {
    width              : 45px;
    height             : 45px;
    left               : 65%;
    animation-duration : 8s;
    animation-delay    : 3s;
  }

  &:nth-child(7) {
    width              : 90px;
    height             : 90px;
    left               : 70%;
    animation-duration : 12s;
    animation-delay    : 2s;
  }

  &:nth-child(8) {
    width              : 25px;
    height             : 25px;
    left               : 80%;
    animation-duration : 6s;
    animation-delay    : 2s;
  }

  &:nth-child(9) {
    width              : 15px;
    height             : 15px;
    left               : 70%;
    animation-duration : 5s;
    animation-delay    : 1s;
  }

  &:nth-child(10) {
    width              : 90px;
    height             : 90px;
    left               : 25%;
    animation-duration : 10s;
    animation-delay    : 4s;
  }
}

@keyframes rise {
  0% {
    bottom    : -100px;
    transform : translateX(0);
  }
  50% {
    transform : translate(100px);
  }
  100% {
    bottom    : 1080px;
    transform : translateX(-200px);
  }
}
// End of bubble animation


// Login form
.card-container {
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 100vh; // 100% de la hauteur de la fenêtre
  box-sizing      : border-box;

  .card {
    background-color : #fff;
    border           : 1px solid #e0e0e0;
    border-radius    : 8px;
    box-shadow       : 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding          : 20px;
    width            : 480px;
    position         : relative;

    h1.card-title {
      margin : 0 0 1em 0;
    }

    form {
      display        : flex;
      flex-direction : column;

      .form-group {
        margin   : 1em 0;
        position : relative;

        .input-container {
          display     : flex;
          align-items : center;
          margin-top  : 4px;
          position    : relative;
        }

        .iconPassword {
          outline    : none;
          color      : $color-primary;
          font-size  : 1.3em;
          position   : absolute;
          right      : 10px;
          width      : 26px;
          text-align : center;
          cursor     : pointer;
        }

        label {
          font-size : 1.1em;
          position  : absolute;
          top       : -1em;
        }

        input {
          padding       : 10px;
          border        : 1px solid #e0e0e0;
          border-radius : 4px;
          width         : 100%;
          box-sizing    : border-box;
          outline       : none;
          font-family   : $font-family;
          font-size     : 1em;
          color         : $color-primary;

          &[name="password"] {
            padding-right : 40px;
          }
        }

        p.infoUsername {
          margin       : 0.5em 0;
          padding-left : 0.2em;
          font-size    : 0.8em;
          color        : $gray;
        }
      }

      button {
        background-color : $color-primary;
        color            : #fff;
        padding          : 10px;
        border           : none;
        border-radius    : 4px;
        transition       : background-color 0.3s;

        &:hover {
          background-color : $color-hover-primary;
        }
      }
    }
  }

  .logo-container {
    position : absolute;
    top      : -148px;
    right    : -140px;

    .logo {
      max-width   : 150px;
      margin-left : 10px;
    }
  }
}

// End of login form


