$color-primaryDark   : #202343;
$color-primary       : #4B78FF;
$color-secondary     : #2C315B;
$color-primaryLight  : lighten($color-secondary, 20%);

$color-hover-primary : #3A4CFF;
$gray                : #9E9E9E;
$white               : #FDFDFD;

$font-family         : 'Popins', sans-serif;

$global-spacing      : 2em;
$global-radius       : 20px;