$primary             : #FF69B4; // Rose bubblegum
$secondary           : #FFD1DC; // Rose pâle
$hover-primary       : #FF007F; // Rose vif
$light-pink          : #FFC0CB; // Rose clair
$dark-pink           : #FF007F; // Rose foncé
$pink-purple         : #DA70D6; // Rose orchidée
$hot-pink            : #FF69B4; // Rose bubblegum
$pastel-pink         : #FFD700; // Rose pastel
$pink-red            : #FF6B68; // Rose saumon
$raspberry           : #C71585; // Rose framboise

$font-family              : 'Popins', sans-serif;
